extends layout


block content
  .embedcontainer.container
    each item in items
      .row
        .col
  
          img.col-1(src=item.imgsrc[0])
          img.col-5(src=item.imgsrc[1])
          p=item.text
        
//- block content
//-   .embedcontainer
//-     .slick
//-       each image, i in imgsrcs
//-         .item
//-           a(href=links[i])
//-             img(src=image)
//-           //- p=alts[i]
//-           .text
//-             a(href=links[i])
//-               h1=titles[i]
//-             h3=dates[i]
//-             h3=places[i]
//-             h4=categories[i]