body {
    font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.embedcontainer {
    position: absolute;
    height: 20%;
    width: 46%;
    display: inline-block;
}

.slick-slide {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}
.item a{
  position: relative;
  width: 50%;
}
.item img {
  overflow: hidden;
    position: relative;
    width: 50%;
    height: auto;
    float: left;
    z-index: +100;
}
.item .text{
  position: relative;
  padding-left: 52%;
  padding-right: 3%;
}
.slick-slider {

    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
}

a {
    color: #00B7FF;
}